[submodule "server/space-filepreview"]
	path = server/space-filepreview
	url = git@github.com:ao-space/space-filepreview.git
[submodule "server/space-media-vod"]
	path = server/space-media-vod
	url = git@github.com:ao-space/space-media-vod.git
[submodule "server/space-postgresql"]
	path = server/space-postgresql
	url = git@github.com:ao-space/space-postgresql.git
[submodule "server/space-aofs"]
	path = server/space-aofs
	url = git@github.com:ao-space/space-aofs.git
[submodule "server/space-web"]
	path = server/space-web
	url = git@github.com:ao-space/space-web.git
[submodule "server/space-agent"]
	path = server/space-agent
	url = git@github.com:ao-space/space-agent.git
[submodule "server/space-gateway"]
	path = server/space-gateway
	url = git@github.com:ao-space/space-gateway.git
[submodule "server/space-upgrade"]
	path = server/space-upgrade
	url = git@github.com:ao-space/space-upgrade.git
[submodule "client/client-android"]
	path = client/client-android
	url = git@github.com:ao-space/client-android.git
[submodule "client/client-ios"]
	path = client/client-ios
	url = git@github.com:ao-space/client-ios.git
[submodule "platform/platform-base"]
	path = platform/platform-base
	url = git@github.com:ao-space/platform-base.git
[submodule "server/nginx-vod-module"]
	path = server/nginx-vod-module
	url = git@github.com:ao-space/nginx-vod-module.git
[submodule "platform/platform-proxy"]
	path = platform/platform-proxy
	url = git@github.com:ao-space/platform-proxy.git
[submodule "platform/platform-nginx"]
	path = platform/platform-nginx
	url = git@github.com:ao-space/platform-nginx.git
[submodule "platform/platform-deploy"]
	path = platform/platform-deploy
	url = git@github.com:ao-space/platform-deploy.git


